.sign-in {
    margin-top: 10%;
    padding: 0px 30%;
}

.app-container {
    .side-bar {
        min-height: 104vh;
        padding-top: 40px !important;
        .padd {
            padding: 10px 0px;
        }
    }
    .map {
        padding-left: 0px !important;
        padding-right: 0px !important;
        .hover-marker {
            cursor: pointer;
            .profile {
                width: 300px !important;
            }
        }
    }
}